html {
  margin: 0;
  padding: 0;
}
h1 {
  color: black;
  text-align: center;
}
#booksTable {
  border: 2px solid black;
  border-collapse: collapse;
}
#booksTable thead th {
  padding: 10px;
  color: rgb(119, 19, 19);
  border: 2px solid black;
  background-color: rgb(248, 240, 240);
}
#booksTable tbody td {
  padding: 10px;
  border: 2px solid black;
}
#booksTable tfoot td {
  padding: 10px;
  border: 2px solid black;
}
#booksTable td:nth-child(1),
#booksTable th:nth-child(1) {
  max-width: 30px;
}
#booksTable td:nth-child(4),
#booksTable th:nth-child(4) {
  max-width: 50px;
}
#booksTable input[name="number"] {
  display: none;
}
#booksTable input[name="author"],
#booksTable input[name="name"] {
  width: 100%;
}
#booksTable input[name="pages"] {
  width: 50px;
}
